<div class="container novedades">
    <div class="row mb-5">
        <div class="col">
            <p class="text-end">Hola {{usuario}}! <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión <i class="fa fa-sign-out-alt"></i></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <h4 class="mb-4">Modificar la novedad</h4>
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="form-group mb-3">
                    <input type="text" class="form-control" value="{{novedad.titulo}}" placeholder="Titulo" name="titulo">
                </div>
                <div class="form-group mb-3">
                    <textarea class="form-control" placeholder="Subtitulo" name="subtitulo">{{novedad.subtitulo}}</textarea>
                </div>
                <div class="form-group mb-3">
                    <textarea class="form-control" placeholder="Cuerpo" name="cuerpo" rows="7">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
                <p class="error">{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>