<div class="container novedades">
    <div class="row mb-5">
        <div class="col">
            <p class="text-end">Hola {{usuario}}! <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión <i class="fa fa-sign-out-alt"></i></a></p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-7">
            <h3>Listado de Novedades Eliminadas</h3>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedadesEliminadas}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-end">
                            <a href="/admin/novedades/recuperar/{{id}}" class="btn btn-sm btn-secondary" title="Recuperar"><i class="fa fa-arrow-rotate-left"></i></a>
                            <a href="/admin/novedades/eliminar-perm/{{id}}" class="btn btn-sm btn-secondary" title="Eliminar definitivamente"><i class="fa fa-x"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col text-end">
            <a href="/admin/novedades" class="btn btn-outline-primary"><i class="fa fa-box-archive"></i> Novedades</a>
        </div>
    </div>
</div>